*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    display: block;
    text-decoration: none;
} 
img{
    width: 100%;
    display: block;
}
ul{
    list-style: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
input{
    border: none;
    display: block;
    outline: none;
}
.clearfix:after{
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
